---
---

@media (max-width: 992px) {
  nav.navbar.fixed-menu .container {
    position: relative;
    bottom: 8px;
  }
}

/*-- Use For Custom Styling --*/
.header-social a.lang {
  background-position: center;
  position: relative;
  top: 8px;
  filter: grayscale(60%);
}

.side-nav-social a.lang {
    background-position: center;
    position: relative;
    top: 10px;
    filter: grayscale(60%);
    background-size: 210%;
}
.header-social a.lang.active, .side-nav-social a.lang.active{
  border: solid 1px;
}

.header-social a.lang:hover, .side-nav-social a.lang:hover {
  background-color: none;
  filter: none;
}

.lang-pl {
  background-image: url("{{ site.baseurl }}/images/pl_flag.png");
}

.lang-en {
  background-image: url("{{ site.baseurl }}/images/en_flag.png");
}

.rs-addon-beforeafter-before {
  background-image: url("{{ site.baseurl }}/images/brush_swipe.png");
  background-repeat: no-repeat;
  background-size: 15vw;
  background-position-y: center;
}

.slide-2 .rs-addon-beforeafter-after {
  background-image: url("{{ site.baseurl }}/images/brush_circle.png");
  background-repeat: no-repeat;
  background-size: 160px;
  background-position-y: -30px;
  background-position-x: right;
}

.navbar a img {
  width: 70%;
}

.navbar, .small-arrow-bg {
  background-image: url('{{ site.baseurl }}/images/small_arrow.png');
  background-repeat: no-repeat;
  background-size: 100px;
}

.pointer {
  cursor: pointer;
}

#team {
  background-color: rgb(245, 245, 245);
}

#team .open-app-row .small-arrow-bg {
  height: 88px;
}

#team .open-app-row .btn-setting {
  position: relative;
  top: 4px;
}

.modal-body .second-column p {
  text-align: justify;
}

#team .open-app-row.small-arrow-bg {
  background-size: 85px;
  background-position-y: 50px;
  background-position-x: 20%;
}

#about .main-title h2, #contact h2 {
  font-size: 2rem;
}

.btn-setting {
  font-size: 1.2rem;
  padding: 1.2rem;
  font-weight: bold;
}
