<!-- Loader -->
<div class="loader" id="loader-fade">
  <div class="loader-container center-block">
    <div class="grid-row">
      <div class="col center-block">
        <ul class="loading reversed">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Loader ends -->

<!-- Header start -->
<header>
  <nav class="navbar navbar-top-default navbar-expand-lg static-nav menu nav-style seven-links">
    <div class="container">
      <a class="logo" href="javascript:void(0)">
        <img src="{{ site.baseurl }}/images/banner_small.png" alt="logo" title="Logo"> </a>
      <div class="collapse navbar-collapse d-none d-lg-block">
        <ul class="nav navbar-nav ml-auto menu__list">
          <li class="nav-item menu__item"> <a href="#home" class="scroll nav-link menu__link">{{ site.data[page.lang].menu.home }}</a>
          </li>
          <li class="nav-item menu__item"> <a href="#about" class="scroll nav-link menu__link">{{ site.data[page.lang].menu.about }}</a>
          </li>
          <li class="nav-item menu__item"> <a href="#team" class="scroll nav-link menu__link">{{ site.data[page.lang].menu.team }}</a>
          </li>
          <li class="nav-item menu__item"> <a href="#contact" class="scroll nav-link menu__link">{{ site.data[page.lang].menu.contact }}</a>
          </li>
        </ul>
      </div>
      <div class="header-social d-none d-lg-inline-block">
        <a href="javascript:void(0)" class="facebook-text-hvr"><i class="ti ti-facebook" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" class="twitter-text-hvr"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" class="linkedin-text-hvr"><i class="ti ti-linkedin" aria-hidden="true"></i></a>
        <a href="{{ site.baseurl }}/" class="lang-pl"></a>
        <a href="{{ site.baseurl }}/en/" class="lang-en"></a>
      </div>
      <!-- side menu open button -->
      <a class="menu_bars d-inline-block menu-bars-setting">
        <span></span> <span></span> <span></span> </a>
    </div>
  </nav>
</header>
<!-- Header end -->

<!--Full Menu -->
<section class="overlay-menu fullscreen center-block">
  <h2 class="d-none">heading</h2>
  <div class="quarter-circle">
    <div class="menu_bars2 active"> <span></span> <span></span> <span></span> </div>
  </div>
  <span class="overlay-effect"></span>
  <div class="centered">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <a href="index.html" class="logo-full mb-5 mb-xs-2rem"><img src="{{ site.baseurl }}/images/banner_small.png" alt=""></a>
        </div>
        <div class="col-md-12 text-left mt-5 mb-5">
          <ul class="side-nav-content heading_space">
            <li class="full-menu-hover">
              <div class="nav-item"><span class="d-inline-block">01.</span> <a href="#home"
                  class="scroll nav-link rotate">{{ site.data[page.lang].menu.home }}</a></div>
            </li>
            <li class="full-menu-hover">
              <div class="nav-item"><span class="d-inline-block">02.</span> <a href="#about"
                  class="scroll nav-link">{{ site.data[page.lang].menu.about }}</a></div>
            </li>
            <li class="full-menu-hover">
              <div class="nav-item"><span class="d-inline-block">03.</span> <a href="#team"
                  class="scroll nav-link">{{ site.data[page.lang].menu.team }}</a></div>
            </li>
            <li class="full-menu-hover">
              <div class="nav-item"><span class="d-inline-block">08.</span> <a href="#contact"
                  class="scroll nav-link">{{ site.data[page.lang].menu.contact }}</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-12 mt-3">
          <div class="side-nav-social">
            <a href="javascript:void(0)" class="facebook-bg-hvr"><i class="ti ti-facebook" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" class="twitter-bg-hvr"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" class="linkedin-bg-hvr"><i class="ti ti-linkedin" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" class="google-bg-hvr"><i class="ti ti-google" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Full Menu-->