<div class="modal fade modal-person1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              {% include person.html person='Tadeusz Reimus' role='Creative lead' image='person_tadek.jpg' %}
            </div>
            <div class="col-lg-6">
              <h3>
                Tadeusz Reimus – psychoerapeuta, konsultant, coach
              </h3>
              <p>
                Praktykujący psychoterapeuta w nurcie integratywnym, akredytowany coach International Coach Federation na poziomie PCC
                (Proffesional Certified Coach); z wykształcenia i powołania psycholog.
              </p>
              <br/>
              <p>
                Absolwent filozofii i psychologii Uniwersytetu Jagiellońskiego, stypendysta Uniwersytetu w Tilburgu, Holandia;
              </p>
              <br/>
              <p>
                Ma za sobą osiemnastoletnie doświadczenie w pracy z organizacjami; wiedzę i umiejętności z zakresu organizacji i
                wdrażania interwencji, programów pomocowych, polityk szkoleniowych.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
