{% for person in site.data[page.lang].team.people %}
<div class="modal fade {{person.modal | remove: '.'}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              {% include person.html person=person.name role=person.role image=person.image modal=person.modal email=person.email %}
            </div>
            <div class="col-lg-6 second-column">
              <h3>
                {% assign default_header = person.name | append: ' - ' | append: person.role %}
                {{ person.modal_content.header | default: default_header }}
              </h3>
              {% for p in person.modal_content.description %}
                <p>{{p}}</p><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for person in site.data[page.lang].team.consultants.people %}
<div class="modal fade {{person.modal | remove: '.'}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              {% include person.html person=person.name role=person.role image=person.image modal=person.modal email=person.email %}
            </div>
            <div class="col-lg-6 second-column">
              <h3>
                {% assign default_header = person.name | append: ' - ' | append: person.role %}
                {{ person.modal_content.header | default: default_header }}
              </h3>
              {% for p in person.modal_content.description %}
                <p>{{p}}</p><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
