<div class="item grey-shade text-center">
  <div class="team-data-img fadeIn{% if include.wow %} {{ include.wow | append: ' ' }} {% endif %}" data-wow-delay="350ms">
    <div class="team-img" data-toggle="modal" data-target="{{ include.modal }}">
      <img src="{{ site.baseurl }}/images/{{ include.image }}" alt="team" loading="lazy" class="img-responsive pointer" data-no-retina>
    </div>
    <div>
      <h4 class="color-black font-weight-normal mt-4 text-capitalize pointer" data-toggle="modal"
        data-target="{{ include.modal }}">{{ include.person }}</h4>
      {{ include.email }}
      <p class="color-light-grey font-weight-light designation text-capitalize pointer" data-toggle="modal"
        data-target="{{ include.modal }}">
        {{ include.role }}
      </p>
      <span class="hr-line mt-3 mb-2"></span>
      <!-- <ul class="team-social">
        <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="ti ti-facebook" aria-hidden="true"></i></a>
        </li>
        <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a>
        </li>
        <li><a href="javascript:void(0)" class="google-bg-hvr"><i class="ti ti-google" aria-hidden="true"></i></a></li>
      </ul> -->
    </div>
  </div>
</div>
